@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0, 0.2);
    font-family: "Montserrat", sans-serif;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    
    background-color: rgb(0, 0, 0, 0.3);
    width: 50%;
    height: 200px;
    margin: 180px auto;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
}

.display {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.display_info {
    padding: 13px;
    width: 200px;
    background-color: rgb(0, 0, 0, 0.2);
    font-family: "Open Sans", sans-serif
}

.num_text {
    font-size: 2.5rem;
    font-weight: 100;;
}

.multi_text {
    font-weight: 100;
}

.x_minus, .x_plus {
    background-color: rgb(255, 255, 255, 0.6);
    padding: 25px 20px;
    box-shadow: 0px 10px 10px 2px rgb(0, 0, 0, 0.5);
    font-size: 1rem;
    font-weight: 100;
    height: 70px;
    text-align: center;
    font-size: 1.2rem;
    transition: 0.2s;
    color: rgb(0, 0, 0, 0.5);
}

.x_minus:hover, .x_plus:hover {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0, 0.5);
    color: #000;
}

.x_minus {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.x_plus {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.minus_count, .plus_count {
    padding: 30px;
    font-size: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 5px 5px 2px;
    transition: 0.2s;
    color: rgb(0, 0, 0, 0.3);
}

.minus_count:hover, .plus_count:hover {
    background-color: rgb(255, 255, 255, 0.5);
    transform: scale(0.95);
    transform: translateY(10px);
    box-shadow: 0px 0px 0px 0px;
    color: rgb(0, 0, 0, 0.6);
}

.info_site {
    text-align: center;
}

.info_site a {
    text-decoration: none;
    color: #000;
    opacity: 0.4;
}

.info_site p {
    opacity: 0.3;
}